body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*STYLE FOR NAV BAR  */
.nav{
  padding: 20px;
  background-color: black;
}
.nav >li >a{
  margin-top: 10px;
  margin-left: 10px;
}

.nav >li >img{
  width: 300px;
}

.navbar-btn {
    margin-top: 20px;
    margin-bottom: 8px;
    float: right;
}

.btn{
  padding: 10px 12px;
}

.login-dark form{
max-width: 320px;
width: 90%;
background-color: #1e2833;
padding: 40px;
border-radius: 4px;
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left:50%;
color: #fff;
box-shadow: 3px 3px 4px rgb(0,0,0,0,2);
}

.login-dark .illustration{
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
}

.login-dark form .btn-primary{
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top:26px;
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active{
  background: #214a80;
  outline:none;
}

.login-dark form .forgot{
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity:0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active{
  opacity: 1;
  text-decoration:none;
}

.login-dark form .btn-primary:active{
  transform:translateY(1px);
}

#background{
background-image: url("../images/arobic.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 670px;
}

.jumbotron p {
    font-size: 40px;
    font-weight: 200;
    color: dodgerblue;
    font-family: sanserif;
    margin: 475px 10px 0px 100px;
    font-style: italic;
}

.image{
  width: 50%;

}

.footer{
  background-color: black;
  color: dodgerblue;
}

#icon{
  width: 50px;
}
